@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you will be able to see your favorite Movies provided by the Church of Jesus Christ of Latter Day Saints.</p>
</div>
